AWS_REGION=us-east-1
AWS_ACCOUNT_ID=198233241344
DYNAMODB_STATIONS_TABLE=chargeiq-stations
DYNAMODB_AVAILABILITY_TABLE=chargeiq-availability
APPSYNC_API_URL=
APPSYNC_API_KEY=
SAGEMAKER_ENDPOINT=chargeiq-waittime-endpoint
LAMBDA_ROLE_ARN=
SAGEMAKER_ROLE_ARN=
SNS_TOPIC_ARN=

TAG_APN_ID=pc:8l8gcn23lmlgammd8572tk6wa
TAG_EVENT=oneWithAI